/* SCSS HEX */
$outer-space-crayola: #1b2f33ff;
$hunter-green: #28502eff;
$carrot-orange: #f18f01ff;
$mint-cream: #f1f7edff;
$green-yellow-crayola: #d9dd92ff;
$green-yellow-light: rgba(27, 47, 51, 0.4);
$green-yellow-dark: rgba(27, 47, 51, 0.6);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1b2f33ff, #28502eff);
