/* SCSS HEX */
$outer-space-crayola: #1b2f33ff;
$hunter-green: rgb(40, 80, 46);
$carrot-orange: rgb(241, 143, 1);
$theme-blue: #002240;
$mint-cream: #f1f7edff;
$green-yellow-crayola: #d9dd92ff;
$orange-bright: rgb(241, 143, 1);
$orange-dark: rgb(132, 80, 2);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1b2f33ff, #28502eff);
